span{
    display:inline-block;
    width: 60px;
    height: 60px;
    background-color: rgb(153, 100, 100);
    margin: 20px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    padding-top: 15px;
    box-sizing: border-box;
    color: blanchedalmond;
}
button{
    margin: 5px;
    background-color: rgb(179, 143, 143);
    width: 70px;
    height: 30px;
}